
<nz-layout class="layout" #layout>
	<nz-header>
		<div class="logo">
			天津市林业资源服务平台
		</div>
		<div class="nav">
			<!-- 添加图形 -->
			<app-add-object [map]="map" [customize]="customize"></app-add-object>
			<ul nz-menu [nzTheme]="'light'" [nzMode]="'horizontal'">
				<li nz-menu-item>我的历史</li>
				<li nz-menu-item (click)="quit()">退出</li>
			</ul>
		</div>
	</nz-header>
	<nz-content>
		<div id="map"></div>
		<!-- 测量 -->
		<app-measure [map]="map" [customize]="customize"></app-measure>
		<!-- 添加自定义图层 -->
		<app-load-bz-layer [map]="map"></app-load-bz-layer>
	</nz-content>
	<!-- 添加自定义图层提交的表单弹窗 -->
	<app-modal [layout]="layout"></app-modal>
</nz-layout>
