<div class="nav-list">
	<ul>
		<li (click)="tools('add-point')" [class.active]="mapTools['add-point'].open">
			<i nz-icon nzType="plus-circle" nzTheme="outline"></i>
			<span>添加点</span>
		</li>
		<li (click)="tools('add-polyline')" [class.active]="mapTools['add-polyline'].open">
			<i nz-icon nzType="minus" nzTheme="outline"></i>
			<span>添加线</span>
		</li>
		<li (click)="tools('add-polygon')" [class.active]="mapTools['add-polygon'].open">
			<i nz-icon nzType="radius-setting" nzTheme="outline"></i>
			<span>添加面</span>
		</li>
	</ul>
</div>